beautifulsoup4==4.12.2
gensim==4.3.3
groq==0.32.0
joblib==1.5.2
numpy==1.26.4
openai==2.1.0
tqdm==4.67.1
python-dotenv==1.0.1
sentence-transformers==3.0.1
faiss-cpu==1.8.0
PyMuPDF==1.24.9
lxml==5.4.0
trafilatura==2.0.0
regex==2024.7.24
unstructured==0.15.0
pytesseract==0.3.10
pillow==10.4.0
openpyxl==3.1.5
python-docx==1.1.2
streamlit==1.51.0
openai
